body {

    text-align: center;
    padding-top:40px;
}


.top-line{
        height: 2px;
        color: #e34242;
        background-color: #E34242;
        padding: 0;
}



div {
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    border-color: #E34242;
    border-style:solid;
    border-width:3px;
    width: 500px;
    height: 300;
}    

.text-column {
    height: 360px;
    width:185px;
    display: inline-flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-style:solid;
    padding: 20px;
    text-align: left;
    font-size: 18px; 
    border-width:3px;
    background-color: #E34242;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}


footer {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
    font-size: 18px;
    color: gray; 
    width:500px;
    height: 60px;
    border-color: #E34242;
    border-style:solid;
    border-width:3px;
}