body {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}


.TopLine{
    height: 76px;
    background-color: #E34242;
    padding: 0px;
    line-height: 76px;
}


.master-container{
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E34242;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.profile-pic{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.profile-pic>img {
    border-radius: 100px;
}

.navbar{
    
    margin-right: auto;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 24px;
    word-spacing: 50px;
}


.dropdown{
    border: 3px solid rgb(0, 238, 255);
    background-color: #E34242;
    color: #fff;
    position: absolute;
    top: 70px;
    left: 63%;
    height: 70px;
    width: 150px;
    text-align: left;

}

.dropdown>ul{
    padding: 0px;
    padding-left: 3px;
    padding-top: 3px;
    width: 100%;
    margin: auto;

    
}

.Logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding:20px;
    width: 520px;
    border-color: #E34242;
    border-style:solid;
    border-width:3px;
}    

.Title{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding:20px;
    width: 520px; 
    letter-spacing: 15%;
    font-size: 18px;
    color: #424242; 
    border-color: #E34242;
    border-style:solid;
}

.TextColumn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding:20px;
    width:520px;
    border-style:solid;
    border-color: #E34242;
    padding: 20px;
    text-align: left;
    font-size: 18px; 
    border-width:3px;
    background-color:white;
    color:black;
    
}

.ReadMore{
    color: #E34242;
    font-size: 14px;
    text-decoration: underline;
    border: none;
}
.ReadLess {
    color: #E34242;
    font-size: 14px;
    text-decoration: underline;
    border: none;
}


footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 20px;
    width:566px;
    box-sizing: border-box;
    font-size: 18px;
    color: gray; 
    height: 60px;
    border-color: #E34242;
    border-style:solid;
    border-width:3px;
}

#myBtn{
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: #E34242;
    color: #ffffff;
    cursor: pointer;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
#myBtn:hover{
    background-color: #555;
}

#moreBtn{
    cursor: pointer;
    background-color: white;

}

#shortText {
    display: none;
}

#lessBtn {
    display: none;
    cursor: pointer;
    background-color: white;
    margin-right: auto;
    margin-top: 15px;
}